.about-me-container{
  background: url(https://i.imgur.com/mUEGZeY.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.info-container{
  height: 70vh;
  width: 90vw;
  margin: 0 auto;
  margin-top: 5%;
  justify-content: space-between;
  align-items: center;
}

.info-div{
  width: 55vw;
  height: 50vh;
  color: rgb(255, 255, 255);
  font-size: 2.5em;
}

.picture-div{
  background: url(https://i.imgur.com/AWfOUkw.png);
  width: 400px;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 5px solid rgb(255, 255, 255);
  margin: 0 auto;
  background-color: white;
}

#hr{
width: 100%;
}

.font-family{
  font-family: 'Raleway', sans-serif;
}

#strong{
  text-decoration: underline;
  cursor: pointer;
  font-size: 1.2em;
  text-shadow: none;
  margin: 0;
}