.center-text{
  text-align: center;
}

.full-window{
width: 100vw;
height: 100vh;
}

.block{
display: block;
}

.flex{
  display: flex;
}

.column{
flex-direction: column;
}

.row{
  flex-direction: row;
}


.border{
  border: .5px solid rgb(0, 0, 0);
}

.white{
  color: rgb(255, 255, 255);
}

.center-h{
  margin: 0 auto;
}

.center-v{
  margin: auto 0;
}

h1, p{
  font-family: 'Raleway', sans-serif;
}

