h1{
  color: white;
  font-size: 2vw;
  background: url();
  text-transform: uppercase;
  background-color: white;
  background-size: cover;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin: 0;
  padding: 0;
}

.landing-container{
  width: 100vw;
  height: 100vh;
  background: url(https://i.imgur.com/i2WgG52.jpg?1);
  background-size: cover;
  margin: 0;
}

.text {
  transition: text-indent .5s;
}

.text:hover {
  text-indent: 10px;
  transition: text-indent .5s;
}

.intro-div{
  margin-top: -25%;
  margin-left: 3%;
}
